<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
    {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
    <!-- Link to the styles.css here to apply styling to all the child templates.-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      class="rounded"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='logo.svg') }}"
    />
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column text-bg-dark">
    <div class="container">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
      >
        <div
          class="col-md-3 d-flex flex-row"
        >
          <a href="/" class="d-inline-flex link-body-emphasis">
            <img
              class="hover-grow rounded me-2"
              src="../static/logo.svg"
              alt=""
              width="50rem"
            />
            <h1>Filmhub</h1>
          </a>
        </div>
        {% if current_user.is_authenticated %}
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-light me-2">
            <a href="{{ url_for('logout') }}">Logout</a>
          </button>
          <button type="button" class="btn btn-light">
            <a href="{{ url_for('user', username=current_user.username ) }}"
              >Profile</a
            >
          </button>
        </div>
        {% else %}
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-light me-2">
            <a href="{{ url_for('login') }}">Login</a>
          </button>
          <button type="button" class="btn btn-light">
            <a href="{{ url_for('register') }}">Sign up</a>
          </button>
        </div>
        {% endif %}
      </header>
    </div>
    <div class="container">
      {% for category, message in get_flashed_messages(with_categories=true) %}
      {% if category == 'success' %}
      <div class="alert alert-success flash" role="alert">
        <h5 class="pt-2">{{ message }}</h5>
      </div>
      {% elif category == 'error' %}
      <div class="alert alert-danger flash" role="alert">
        <h5 class="pt-2">{{ message }}</h5>
      </div>
      {% endif %} {% endfor %}
    </div>
    <main class="my-4">{% block content %}{% endblock %}</main>
    <div class="container">
      <footer class="py-2 border-top text-center">
        <p class="mb-1 pt-3 mb-md-0">
          Copyright ©
          <a href="https://timonrieger.de?utm_source=filmhub"
            >Timon Rieger</a
          >
        </p>
      </footer>
    </div>
  </body>
</html>
